body {
  cursor: url(./assets/pizza.cur), auto;
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1976d2 !important;
  background: linear-gradient(
    106.5deg,
    rgba(121, 121, 121, 0.8) 23%,
    rgba(0, 0, 0, 0.7) 93%
  );
}

#root {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
